:root {
  --map-bg-color: #212f45;
  --map-border-color: #006466;
  --map-overlay-color: rgba(0, 0, 0, 0.2);
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trace-map {
  width: clamp(100px, 100vw, 1024px);
  height: 100vh;
}

.map-overlay {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--map-overlay-color);
}
