:root {
  --bg-color: #272640;
  --font-color: #00adb0;

  --header-color: #212f45;

  --hero-text-color: white;
  --hero-name-color: #00b5b8;
  --hero-subtitle-color: #009699;

  --button-bg-color: #144552;
  --button-hover-color: #144552;
  --button-border-color: #006466;

  --h3-color: white;
  --white: white;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
  box-sizing: border-box;
  font-family: 'Space Mono';
}

p,
li {
  font-family: 'Roboto Mono';
  color: var(--white);
}

header {
  width: 100vw;
  border-bottom: solid 1px var(--font-color);
  z-index: 1000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: var(--header-color);
  box-sizing: border-box;
  height: 50px;
  max-width: 100%;
}

header > .inner-header > h1 {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-size: 1.5rem;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
}

section:first-of-type {
  height: calc(100vh - 50px);
}

section:last-of-type {
  height: max-content;
}

.inner-header {
  width: clamp(200px, 100vw, 1024px);
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  width: 100vw;
  justify-content: center;
  position: relative;
  z-index: 1000;
  max-width: 100%;
}

.inner-main {
  width: clamp(200px, 100vw, 1024px);
  max-width: 100%;
  padding-bottom: 4rem;
}

.hero {
  padding: 16px;
  margin-top: calc(100vh / 5);
}

.hero-title {
  color: var(--hero-text-color);
  font-size: 3rem;
  padding-bottom: 0.25rem;
}

.hero-name {
  color: var(--hero-name-color);
}

.hero-subtitle {
  color: var(--hero-subtitle-color);
  font-size: 1.5rem;
  padding-bottom: 8px;
}

.hero-icons {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 8px;
  fill: var(--font-color);
}

.icon:hover {
  fill: var(--hero-text-color);
}

.icon-link {
  cursor: pointer;
}

.icon-link:visited {
}

.button {
  text-decoration: none;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  background-color: var(--button-bg-color);
  color: var(--hero-text-color);
  border: solid 1px transparent;
  margin-left: 8px;
}

.button:hover {
  border: solid 2px var(--button-border-color);
}

.button:visited {
}

.hero > p {
  color: white;
  padding-top: 16px;
}

.nav-down,
.nav-up {
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav-icon {
  fill: var(--font-color);
  padding-bottom: 1rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

h4 {
  font-size: 1.35rem;
}

h3 {
  color: var(--h3-color);
  font-size: 2rem;
  padding-bottom: 1rem;
}

.tech-icons {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
}

.description-list-item {
  color: var(--white);
  padding-bottom: 0.5rem;
}

article > ul {
  padding-top: 16px;
}

.project-title-flex {
  display: flex;
  align-items: center;
}

.link {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--white);
  padding-left: 1rem;
}

.link:visited {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: var(--font-color);
}

.title-link {
  text-decoration: none;
  color: var(--font-color);
}

.title-link:visited {
  text-decoration: none;
}

.title-link:hover {
  text-decoration: none;
}

article:not(:first-child) {
  margin-top: 2rem;
}

article:not(:last-child) {
  margin-bottom: 2rem;
}

.project-hero {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.project-hero > img {
  width: 100%;
  height: auto;
}

hr {
  border: none;
  border-top: dashed 1px var(--font-color);
}
